/* ./resources/css/app.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@import "./fonts/inter.css";
@import "./fonts/hunterriver.css";
@import "./_section.css";
@import "./_image.css";
@import "./_duotone.css";
@import "./_svg.css";
@import "./_input.css";
@import "./_slider.css";
@import "./_swiper-bundle.min.css";
@import "./_font.css";
@import "./_animation.css";

@layer base {
    h1 {
        font-size: calc(48px + (96 - 24) * ((100vw - 300px) / (1600 - 300)));
        @apply font-semibold leading-[0.80] tracking-tighter text-gray-800;
    }

    h2 {
        font-size: calc(32px + (56 - 32) * ((100vw - 300px) / (1600 - 300)));
        @apply font-bold leading-none tracking-tighter text-gray-800 sm:tracking-tight;
    }

    h3 {
        font-size: calc(32px + (56 - 32) * ((100vw - 300px) / (1600 - 300)));
        @apply leading-tight;
    }

    h4 {
        font-size: calc(22px + (32 - 22) * ((100vw - 300px) / (1600 - 300)));
        @apply font-semibold leading-tight tracking-tight text-gray-400;
    }

    h4 b {
        @apply font-semibold text-gray-800;
    }

    h5 {
        font-size: calc(20px + (28 - 20) * ((100vw - 300px) / (1600 - 300)));
    }

    h6 {
        font-size: calc(16px + (20 - 16) * ((100vw - 300px) / (1600 - 300)));
        @apply font-bold leading-relaxed tracking-tight text-gray-800;
    }

    p {
        font-size: calc(13px + (17 - 13) * ((100vw - 300px) / (1600 - 300)));
        @apply font-normal leading-relaxed text-gray-600;
    }

    label {
        font-size: calc(12px + (14 - 12) * ((100vw - 300px) / (1600 - 300)));
        @apply flex font-bold tracking-tight;
    }

    small {
        font-size: calc(10px + (11 - 10) * ((100vw - 300px) / (1600 - 300)));
        @apply flex tracking-tight text-gray-400;
    }
}
